{% extends 'base.html' %}

{% block title %}Acerca de{% endblock %}
{% block header_title %}Acerca de{% endblock %}
{% block header_subtitle %}Información acerca de la plataforma{% endblock %}
{% block header_icon %}about{% endblock %}

{% block content %}
    <h3>Acerca de la plataforma</h3>
    <p>La plataforma diagnóstico fue creada con el fin de ayudar a los aspirantes de la <a
            href="https://uesvirtual.ues.mx">universidad virtual</a> a realizar su examen de diagnóstico,
        entregar su documentación digitalizada y capturar la información necesaria para la credencial estudiantil.</p>

    <p>Cualquier duda o problema que tenga, por favor, ponte en contacto con nosotros a través de la dirección
        de correo: <a href="mailto:uesvirtual@ues.mx">uesvirtual@ues.mx</a>.</p>

{% endblock content %}