{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}¿Olvidaste tu contraseña?{% endblock title %}
{% block header_title %}¿Olvidaste tu contraseña?{% endblock header_title %}
{% block header_subtitle %}Si no recuerdas tu contraseña, puedes generar una nueva{% endblock header_subtitle %}
{% block header_icon %}accounts{% endblock header_icon %}

{% block content %}
    <h3>Escribe tu correo</h3>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Generar nueva contraseña" />
    </form>
    <div class="instructions mt-4">
        <p>
            <small>Recuerda que tiene que ser el mismo correo con el que te registraste en el portal de
                <a href="https://aspirantes.ues.mx/login.aspx">aspirantes</a>.</small>
        </p>
    </div>
{% endblock content %}
