{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Introduce una nueva contraseña{% endblock title %}
{% block header_title %}¿Olvidaste tu contraseña?{% endblock header_title %}
{% block header_subtitle %}Introduce una nueva contraseña{% endblock header_subtitle %}
{% block header_icon %}accounts{% endblock header_icon %}

{% block content %}
    <h3>Introduce una contraseña nueva</h3>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Cambiar contraseña">
    </form>
{% endblock content %}

