{% extends 'base.html' %}

{% block title %}Se ha cambiado la contraseña{% endblock title %}
{% block header_title %}Se ha cambiado la contraseña{% endblock header_title %}
{% block header_subtitle %}La contraseña se cambió correctamente{% endblock header_subtitle %}
{% block header_icon %}accounts{% endblock header_icon %}

{% block content %}
    <h3>¡Listo!</h3>

    <p>Ahora puedes entrar a la plataforma con tu nueva contraseña. Haz click <a href="{% url 'login' %}">aquí</a>
        para entrar.</p>
{% endblock content %}
