{% extends 'base.html' %}

{% block title %}¿Olvidaste tu contraseña?{% endblock title %}
{% block header_title %}¿Olvidaste tu contraseña?{% endblock header_title %}
{% block header_subtitle %}¡Te enviamos un correo!{% endblock header_subtitle %}
{% block header_icon %}accounts{% endblock header_icon %}

{% block content %}
    <h3>¡Listo!</h3>

    <p>Te hemos enviado las instrucciones para <strong>generar una nueva contraseña</strong>, en un momento deberás
        de recibir el correo.</p>

    <p>Si aún tienes problemas, envíamos un correo a
        <a href="mailto:uesvirtual@ues.mx">uesvirtual@ues.mx</a>.</p>
{% endblock content %}