{% extends 'email_base.html' %}

{% block email_title %}
    Ticket cerrado: {{ ticket.title }}
{% endblock email_title %}

{% block email_content %}
    <p>
        ¡Hola, {{ ticket.user.nombre|title }}! Se te está enviando este correo para informarte que el ticket de
        soporte número {{ ticket.id }}, titulado "{{ ticket.title }}" <strong>ya lo está trabajando un
        administrador</strong>.
    </p>

    <p>
        Puedes revisar el estado de tu ticket haciendo click <a href="{{ host }}{{ ticket.get_absolute_url }}">aquí</a>.
    </p>
{% endblock email_content %}