<div class="text-center">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#documentsModalUploadForm">
        <i class="fa fa-upload"></i>Subir un documento...
    </a>
</div>

<div class="mt-4">
    <small><strong>Atención:</strong> Las imágenes que subas deben de cumplir con los siguientes requisitos:
        <ul>
            <li>Estar en formato jpg o pdf.</li>
            <li>Ocupar menos de 5Mb.</li>
            <li>Ser imágenes escaneadas (no fotos).</li>
        </ul>
    </small>
</div>