{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Soporte{% endblock title %}
{% block header_title %}Soporte{% endblock header_title %}
{% block header_subtitle %}
    Crear nuevo ticket de soporte.
{% endblock header_subtitle %}
{% block header_icon %}support{% endblock header_icon %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i>Añadir ticket</button>
    </form>

{% endblock %}

{% block sidebar_content %}
    {% include 'partials/support_ticket_create_partial_sidebar_before.html' %}
{% endblock %}