{% load static %}

<h3>Algunas recomendaciones antes de iniciar</h3>

<ul>
    <li>No olvides leer <strong><a href="{% static 'files/guia_examen_ues_virtual.pdf' %}" target="_blank">el manual del examen</a></strong>
        para aclarar tus dudas.</li>
    <li>Realiza tu examen en un lugar callado, donde puedas concentrarte.</li>
    <li>Maneja bien tus tiempos, trata de terminarlo <strong>antes del tiempo límite.</strong></li>
    <li>En caso de que no puedas contestar una pregunta, pásate a la siguiente y luego regresas a contestar la que no pudiste.</li>
    <li>Si tienes algún error al momento de realizar tu examen, ponte en contacto con el equipo técnico a través del correo
        <a href="mailto:uesvirtual@ues.mx">uesvirtual@ues.mx</a> ¡Resolveremos tus problemas en cuanto
        antes!</li>
</ul>